.slider-main-container {
  margin-bottom: 10%;
}
.slider-container {
  text-align: center;
  width: 84%;
  margin-left: 10%;
}
.slider-container-b {
  text-align: center;
  position: relative;
  width: 84%;
  margin-left: 10%;
}
.image-a-div {
  border: 2px rgb(0, 179, 255);
  position: relative;
  height: 250px;
  width: 70px;
  cursor: pointer;
}
.add-to-cart {
  background-color: rgb(0, 179, 255);
  position: absolute;
  bottom: 0px;
  padding: 3% 0 3% 0;
  width: 85%;
  text-align: center;
  color: white;
  object-fit: cover;
  display: none;
}
.add-to-cart-b {
  background-color: red;
  z-index: 99;
}
.Image-a {
  border-radius: 10px;
  width: 85%;
  height: 100%;
  object-fit: cover;
}
.image-a-div:hover > .add-to-cart {
  display: block;
}
.product-wishlist,
.product-wishlist-b {
  font-weight: 600;
  position: relative;
  top: -220px;
  left: 65px;
  z-index: 99;
  font-size: 20px;
}

.product-info {
  position: relative;
  top: 10px;
  margin-bottom: 20px;
}
.product-name {
  color: rgb(0, 0, 0);
  padding: 0 0 10px 0;
  margin: 0;
  text-align: left;
  font-size: 15px;
  font-weight: 500;
}
.product-price {
  color: rgb(0, 179, 255);
  padding: 0;
  margin: 0;
  text-align: left;
  font-size: 15px;
}
.view-all-products {
  background-color: rgb(0, 179, 255);
  color: white;
  margin-top: 5%;
  border-radius: 5px;
  padding: 10px 35px 10px 35px;
  border: none;
  cursor: pointer;
}
.view-all-products-b {
  background-color: rgb(0, 179, 255);
  color: white;
  position: relative;
  top: 50px;
  margin-left: -10%;
  border-radius: 5px;
  padding: 10px 35px 10px 35px;
  border: none;
  cursor: pointer;
  z-index: 99;
}
.carousel-line {
  position: relative;
  top: 120px;
}
.new-arrivals-parent-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* background-color: blue; */
  color: white;
  margin: 0 10% 0 10%;
  height: 500px;
}

.new-arrivals-child-a {
  border-radius: 10px;
  margin-right: 4%;
  width: 500px;
  overflow: hidden;
}
.collection-text {
  position: absolute;
  bottom: 20px;
  margin-left: 3%;
  line-height: 12px;
  z-index: 99;
}
.sub-collection-text {
  font-size: 12px;
  font-weight: 200;
  width: 70%;
}
.sub-collection-text-shop-now:hover {
  opacity: 0.7;
  cursor: pointer;
}
.model-collection-text {
  position: absolute;
  z-index: 20;
  top: 115px;
  margin-left: 3%;
  line-height: 12px;
}
.speaker-collection-text,
.perfume-collection-text {
  position: absolute;
  z-index: 1;
  margin-left: 3%;
  line-height: 12px;
  top: 370px;
}
.new-arrivals-child-a .ps5pro {
  height: 500px;
  width: 110%;
  object-fit: cover;
}
.new-arrivals-child-b {
  margin-left: 4%;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
}

.child-b-topa {
  border-radius: 10px;
  margin-bottom: 3%;
  height: 245px;
  overflow: hidden;
}

.child-b-downb {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* background-color: turquoise; */
  gap: 20px;
}

.child-b-downb .speaker {
  height: 230px;
  width: 100%;
  object-fit: contain;
  transform: scale(1.1);
}
.child-b-downb .perfume {
  height: 230px;
  width: 100%;
  object-fit: contain;
  transform: scale(1.9);
}

.downb-a,
.downb-c {
  margin-right: 8%;
  height: 230px;
  overflow: hidden;
  width: 250px;
  background-color: blueviolet;
  border-radius: 10px;
}
.downb-b {
  border-radius: 10px;
  margin-left: 8%;
}
.perks-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;

  margin: 5% 15% 5% 15%;
  text-align: center;
}

.truck-bg {
  background-color: rgb(42, 42, 42);
  margin: 0 37% 0 37%;
  border-radius: 50%;
  height: 70px;
  width: 70px;
}
.truck {
  font-size: 40px;
  margin-top: 22%;
  margin-left: 5%;
  color: white;
}
.free-delivery {
  margin: 2% 0 2% 0;
  font-size: 18px;
}
.free-delivery-text {
  font-size: 14px;
  margin: 0;
}
@media only screen and (max-width: 700px) {
  .add-to-cart {
    font-size: 12px;
  }
  .product-name,
  .product-price {
    font-size: 15px;
  }
  .carousel-line {
    top: 20px;
  }
  .new-arrivals-parent-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    height: 950px;
    margin-bottom: 30%;
  }
  /* .new-arrivals-child-a {
    background-color: rgb(128, 0, 0);
  } */
  .new-arrivals-child-a {
    position: relative;
    overflow: visible;
    width: 520px;
  }

  .new-arrivals-child-a .ps5pro {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  .collection-text {
  }
  .model-collection-text {
    position: absolute;
  }
  .speaker-collection-text {
    top: 90px;
    margin-left: 20px;
  }

  /* .perfume-collection-text {
  } */
  .new-arrivals-child-b {
    position: relative;
    margin: 0;
  }
  .downb-a {
    position: relative;
  }
  .perks-grid {
    gap: 50px;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 15%;
  }
}
